* {
  font-family: sans-serif;
}
.planet{
  position: absolute;
}

.space {
  height: 100%;
}
.rocket{
  position: relative;
  text-align: center;
  background: no-repeat center;
}
.fuselaje{
  height: 600px
}
.llama{
  height: 200px;
  position: absolute;
  margin-top: 200px;
  margin-left: -200px;
}
.rocket path {
  fill: white;
}

.tresA {
  width: auto;
  position: absolute;
  bottom: 0;
  right: 1%;
}

.tresA > img {
  float: right;
  width: 70%;
}

.status {
  height: 10%;
  text-align: center;
}

.status > h3 {
  padding-top: 2%;
  text-shadow: 0px 0px 20px #FFF;
  font-size: 24px;
}
